.item-list{
    margin: 24px 0;
}

.item-list strong{
    color: #539bf5;
    font-size: 24px;
    margin: 24px 0;
}

.item-list strong::before{
    content: '';
    background-image: url(../../assents/logo/pngegg.png);
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    background-size: contain;
    padding-left: 15px;
    background-repeat: no-repeat;
}
.item-list p{
    color: #999999;
    font-size: 16px;
    margin: 24px 0;
}

.item-list a{
    color: white;
    text-decoration: none;
}


.item-list a:hover{
    text-decoration: underline;
}